.container h1{
    margin: 5px;
    background-color: rgb(73, 17, 28);
    color: white;
    text-align: center;
    padding: 10px;
}

.tableContainer{
    margin: 10px;
    width: 100%;
}

.tableContainer thead tr th{
    padding: 10px;
    background-color: rgb(73, 17, 28);
    color: white;
    text-align: left;
    padding: 10px;
}

.tableContainer tbody tr{
    height: 100px;
}

.tableContainer tbody tr td{
    border-bottom: 2px solid rgb(73, 17, 28);
    font-weight: bolder;
    font-size: larger;
    color: rgb(73, 17, 28);
    padding: 10px;
    text-align: left;
    padding: 10px;
}

.viewBtn,.btnSection button{
    padding: 10px;
    width: 100px;
    background-color: rgb(73, 17, 28);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.viewBtn:active,.btnSection button:active{
    transition: ease-in-out 3s;
}

.btnSection{
    width: 100%;
}

.btnSection button{
    margin: 10px;
}

